@tailwind base;
@tailwind components;
@tailwind utilities;

.fod-input{
  font-size: 14px;
  background-color: transparent;
}

input:focus{
outline: none
}

.btn-primary {
  @apply bg-fodOrange uppercase p-3 px-6 rounded flex gap-2 items-center justify-center text-white;
}

.card-button {
  @apply rounded-full p-2 px-12 text-base font-semibold capitalize bg-fodOrange text-white;
}

.title-underline {
  position: relative;
  display: inline-block;
}

.title-underline-orange {
  position: relative;
  display: inline-block;
}

.title-underline::after {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -8px;
  width: 40%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.title-underline-orange::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom:-8px;
  transform: translateX(-50%);
  width: 32%;
  height: 4px;
  background-color: #fc5b0b;
  border-radius: 2px;
}

#about {
  background-image: url(https://res.cloudinary.com/dgghqzaxo/image/upload/v1761246326/FOD%20Holidays/WhatsApp_Image_2025-10-21_at_00.52.59_dz4rph.jpg);
}

#contact {
  background-image: url(https://res.cloudinary.com/dgghqzaxo/image/upload/v1762794451/FOD%20Holidays/WhatsApp_Image_2025-10-21_at_00.52.56_uhlh50.jpg);
}

.about-middle-bg {
  background-image: url(https://res.cloudinary.com/dgghqzaxo/image/upload/v1761131637/FOD%20Holidays/Kasol%20-%20Kheerganga/aayushmaan-sharma-oyvov12ISyA-unsplash_huh9hl.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.rx-logo-bg {
  background-image: url(../assets/logo-bg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  opacity: 0.05;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-attachment: fixed;
  position: absolute;
}

.head-top {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.top-overlay {
  @apply absolute top-0 left-0 h-full w-full;
  background-color: transparent;
  /* background-image: linear-gradient(180deg, #0000004d 50%, #000000cc 100%); */
  background-image: linear-gradient(180deg, #0000001C 0%, #00000099 100%);
  opacity: 1;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
}

.accordian,
.accordion {
  border: none !important;
}

.accordion__button {
  border-radius: 5px !important;
  background: linear-gradient(
    90deg,
    #fc5b0b 0%,
    #fc5b0b50 50%,
    #ffffff 100%
  );
  font-weight: bold !important;
  color: white !important;
}

.accordion__heading {
  background-color: white !important;
}

.accordion__button:before {
  transition-duration: 500ms !important;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}