@tailwind base;
@tailwind components;
@tailwind utilities;

.fod-input{
  font-size: 14px;
  background-color: transparent;
}

input:focus{
outline: none
}

.btn-primary {
  @apply bg-fodOrange uppercase p-3 px-6 rounded flex gap-2 items-center justify-center text-white;
}

.card-button {
  @apply rounded-full p-2 px-12 text-base font-semibold capitalize bg-fodOrange text-white  w-52;
}

.title-underline {
  position: relative;
  display: inline-block;
}

.title-underline-orange {
  position: relative;
  display: inline-block;
}

.title-underline::after {
  content: "";
  position: absolute;
  left: 2px;
  bottom: -8px;
  width: 40%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
}

.title-underline-orange::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom:-8px;
  transform: translateX(-50%);
  width: 32%;
  height: 4px;
  background-color: #fc5b0b;
  border-radius: 2px;
}
